body {
     background: linear-gradient(32deg, #000000, #1c1c1c, #343434, #3e3e3e, #454545, #505050, #5a5a5a, #474747, #3e3e3e, #2f2f2f, #272727, #181818);
    background-size: 2400% 2400%;

    -webkit-animation: AnimationName 49s ease infinite;
    -moz-animation: AnimationName 49s ease infinite;
    -o-animation: AnimationName 49s ease infinite;
    animation: AnimationName 49s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}
@keyframes AnimationName {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}



h1{
text-align: center;
font-family: montserrat;
font-size: 45px;
color: #828282;}

p{
font-family: Apple Chancery, cursive;
font-size: 20px;
text-align: center;
color: #595959;
}

.live{
font-size: 24px;
font-family: Gill Sans, sans-serif;
text-align: center;}

.audio {
text-align: center;
color: black;}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* From cssbuttons.io by @westitan */
button {
 position: relative;
 padding: 19px 36px;
 display: block;
 text-decoration: none;
 text-transform: uppercase;
 overflow: hidden;
 border-radius: 40px;
 border: none;
}

button a {
 position: relative;
 color: #fff;
 font-family: Arial;
 letter-spacing: 8px;
 z-index: 1;
 text-decoration: none;
}

button .liquid {
 position: absolute;
 top: -80px;
 left: 0;
 width: 100%;
 height: 200px;
 background: #4973ff;
 box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
 transition: .5s;
}

button .liquid::after,
button .liquid::before {
 content: '';
 width: 200%;
 height: 200%;
 position: absolute;
 top: 0;
 left: 50%;
 transform: translate(-50%, -75%);
 background: #fff;
}

button .liquid::before {
 border-radius: 45%;
 background: rgba(20, 20, 20, 1);
 animation: animate 5s linear infinite;
}

button .liquid::after {
 border-radius: 40%;
 background: rgba(20, 20, 20, .5);
 animation: animate 10s linear infinite;
}

button:hover .liquid {
 top: -120px;
}

@keyframes animate {
 0% {
  transform: translate(-50%, -75%) rotate(0deg);
 }

 100% {
  transform: translate(-50%, -75%) rotate(360deg);
 }
}
